<div class="container-fluid">
  <div class="row hero text-center">
    <h1 class="tagline">HOME SWEET HOME</h1>
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <a class="btn btn-default" href="#" role="button">How does it work</a>
  </div>
</div>
