/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// CUSTOM CSS
body {
  background-color: #F5F5F5;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-header {
  background-color: #fff;
  height: 60px;
}

.navbar-brand img{
  height: 30px;
}

.hero {
  padding: 0px;
  height: 500px;
  background-image: url("header-img4.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // width: 100%;
}

.tagline {
  margin-top:60px;
  font-size: 56px;
  color: #fff;
}

.hero .lead {
  font-size: 14px;
  color: #fff;
}

.btn-default {
  padding: 10px 20px;
  font-weight:bold;
  color: #fff;
  border: 0px solid #fff;
  background: rgba(255,255,255,0.3);
}
