// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #F5F5F5;
}

.navbar-header {
  background-color: #fff;
  height: 60px;
}

.navbar-brand img{
  height: 50px;
}
